<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white-50" routerLink="/">Movie rating system</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Main Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>
      </ul>


      <h1 class="text-light" *ngIf="authenticationService.authenticated; else loginOrRegisterBlock">{{authenticationService.authenticatedUser}}</h1>
      <ng-template #loginOrRegisterBlock>
        <ul class="nav navbar-nav ml-auto">
          <li class="list-item">
            <a class="nav-link" [routerLink]="['/register']" i18n="@@registerNavBtn">Register</a>
          </li>
          <li class="list-item">
            <a class="nav-link" [routerLink]="['/login']" i18n="@@loginNavBtn">Log In</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav>