<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white-50" routerLink="/">Movie rating system</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" >Main Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" >Search</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <!--<li class="list-item">-->
          <!--<a class="nav-link" [routerLink]="['/register']" i18n="@@registerNavBtn"><fa-icon icon="user-circle"></fa-icon> Register</a>-->
        <!--</li>-->
        <!--<li class="list-item">-->
          <!--<a class="nav-link" [routerLink]="['/login']" i18n="@@loginNavBtn"><fa-icon icon="sign-in-alt"></fa-icon> Log In</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>
